extends ../shared/template
block content
  h2 Accounts
  table#accounts
    thead
      tr
        th Name
        th Type
        th Balance
        th Opened
    tbody
      each account in accounts
        tr(style='background-color:#{account.color};')
          td: a(href='/accounts/#{account._id}')= account.name
          td= account.type
          td= account.balance
          td= account.opened


